//  http://chris.house/blog/why-css-custom-properties-are-awesome/
//  https://developers.google.com/web/updates/2016/02/css-variables-why-should-you-care
//  https://css-tricks.com/responsive-data-table-roundup/
:root {
    --cap: 16px;
    // Sucesión de Fibonacci
    /*--xxs: calc(var(--cap) / 3); // 4px
    --xs: calc(var(--cap) / 2); // 6px
    --sm: calc(var(--cap) / 1.2); // 10px
    --md: calc(var(--cap) * 1.33333); // 16px
    --lg: calc(var(--cap) * 2.166666); // 26px
    --xl: calc(var(--cap) * 3.5); // 42px 
    --xxl: calc(var(--cap) * 5.666666); // 68px*/



    --xxs: 0.875rem; // 14px
    --xs: 1rem; // 16px
    --sm: 1.25rem; // 20px
    --md: 1.5rem; // 24px
    --lg: 2.25rem; // 30px
    --xl: 3rem; // 48px 
    --xxl: 5rem; // 80px*/
    --huge: 6rem; // 96px*/










}

$sizes: (
    none: 0,
    xxs: var(--xxs),
    xs: var(--xs),
    sm: var(--sm),
    md: var(--md),
    lg: var(--lg),
    xl: var(--xl),
    xxl: var(--xxl),
    huge: var(--huge)
);

/*


//namespace
$nm: "";
//Debug classes are created if true
$debug: false;
//Magic numbers
//Module used in margin and paddings accros the framework to keep the ratio
$unit-base: 12px;
$unit-mod: 1.5rem;
//Short alias for unit-mod
$um: $unit-mod;
//Vertical rythm
$base-font-size: $unit-base !default;
$base-line-height: 1.2 !default;*/
//Breakpoints
$breakpoints:( xxs: 320px, xs: 360px, sm: 480px, md: 768px, lg: 1024px, xl: 1200px, xxl: 1400px);

//$rootImageSrc: "../../../bundles/app/img/";